<div class="tadcka-reporter-panel">
    {% set tadcka_reporter_button = 'tadcka_reporter_button'|trans({}, 'TadckaReporterBundle') %}
    <a class="tadcka-reporter-link" href="{{ url('tadcka_reporter') }}">
        {% for char in (tadcka_reporter_button)|split('') %}
            {{ char }}<br>
        {% endfor %}
    </a>

    <div class="tadcka-reporter-form">

    </div>
</div>
