<style>
    .tadcka-reporter-panel {
        padding: 15px;
        width: 250px;
        background: #DDDDDD;
        border: #29216d 1px solid;
        position: absolute;
        top: 30%;
        z-index: 100;
        left: -282px;
        height: 280px;
    }

    .tadcka-reporter-panel a.tadcka-reporter-link {
        background-color: #0000FF;
        border-width: 1px 1px 1px 1px;
        display: block;
        left: 46px;
        position: relative;
        float: right;
        font-size: 20px;
        font-weight: bold;
        width: 30px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 5px;
        padding-bottom: 5px;
        outline: none;
        line-height: 1;
    }

    .tadcka-reporter-form input {
        width: 200px;
    }

    .tadcka-reporter-form textarea {
        width: 200px;
        height: 80px;
    }

    .tadcka-reporter-form .form_error_list {
        clear: none;
    }
</style>

<script>
    $(document).ready(function () {
        var tadckaReporterLink = {

            speed: 300,
            containerWidth: $('div.tadcka-reporter-panel').outerWidth(),
            containerHeight: $('div.tadcka-reporter-panel').outerHeight(),
            tabWidth: $('.tadcka-reporter-link').outerWidth(),

            init: function () {
                $('div.tadcka-reporter-panel').css('height', tadckaReporterLink.containerHeight + 'px');

                $('a.tadcka-reporter-link').click(function (event) {
                    if ($('.tadcka-reporter-panel').hasClass('open')) {
                        $('.tadcka-reporter-panel')
                                .animate({left: '-' + tadckaReporterLink.containerWidth}, tadckaReporterLink.speed)
                                .removeClass('open');
                    } else {
                        var $container = $('div.tadcka-reporter-form');
                        $container.fadeTo(300, 0.4);
                        var $url = $(this).attr('href');
                        $.ajax({
                            type: 'GET',
                            url: $url,
                            success: function (response) {
                                $container.html(response);
                                $container.fadeTo(0, 1);
                                tadcka_reporter_form();
                            },
                            error: function (request, status, error) {
                                $container.html(request.responseText);
                                $container.fadeTo(0, 1);
                            }
                        });

                        $('div.tadcka-reporter-panel').animate({left: '0'}, tadckaReporterLink.speed)
                                .addClass('open');
                    }
                    event.preventDefault();
                });
            }
        };

        tadckaReporterLink.init();
    });

    function tadcka_reporter_form() {
        $('.tadcka-reporter-button').click(function (e) {
            e.preventDefault();
            var $container = $('div.tadcka-reporter-form');
            $container.fadeTo(300, 0.4);
            var $form = $(this).closest('form');
            var $url = $form.attr('action');
            $.ajax({
                type: 'POST',
                url: $url,
                data: $form.serialize(),
                success: function (response) {
                    $container.html(response);
                    $container.fadeTo(0, 1);
                    tadcka_reporter_form();
                },
                error: function (request, status, error) {
                    $container.html(request.responseText);
                    $container.fadeTo(0, 1);
                }
            });

        });
    }
</script>

<div class="tadcka-reporter-panel">
    {% set tadcka_reporter_button = 'tadcka_reporter_button'|trans({}, 'TadckaReporterBundle') %}
    <a class="tadcka-reporter-link" href="{{ url('tadcka_report') }}">
        {% for char in (tadcka_reporter_button)|split('') %}
            {{ char }}<br>
        {% endfor %}
    </a>

    <div class="tadcka-reporter-form">

    </div>
</div>